<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="\static\css\header.css">
    <link rel="stylesheet" href="\static\css\index.css">
    <link rel="stylesheet" href="\static\css\footer.css">
</head>
<body>
    <div class="navbar">
        <ul class="navbar-items">
            <li class="brand"><a href="#">Logo</a></li>
            <li class="navbar-links"><a href="#">Home</a></li>
            <li class="navbar-links"><a href="#">About</a></li>
            <li class="navbar-links"><a href="#">Product</a></li>
            <li class="navbar-links"><a href="#">contact</a></li>
        </ul>
    </div>
