*{
    padding: 0%;
    margin: 0%;
}

.navbar{
    width: 1100px;
    height: auto;
    background-color: cadetblue;
    margin: 10px auto 0px auto;
}

.navbar-items{
    display: flex;
}

.brand{
    list-style-type: none;
    color: white;
    margin: 10px 0px;
}

.brand a{
    text-decoration: none;
    color: white;
}

.navbar-links{
    padding: 0px 30px;
    margin: 10px 0px;
    list-style: none;
}

.navbar-links a{
    color: white;
    text-decoration: none;
}

.navbar-links a:hover{
    color: black;
    text-decoration: underline;
    text-decoration: none;
}