{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        .content{
            width: 1000px;
            height: 300px;
            margin: 20px auto  0px auto;
        }

        h1{
            text-align: center;
            background-color: rgb(0, 0, 0);
            color: white;
        }

        p{
            border: 1px solid black;
            margin-top: 30px;
            text-align: justify;
            background-color: yellow;
        }

    </style>
</head>

<body>
    <div class="content">
        <h1>This is Blog Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam corrupti similique eaque sint expedita,
        consequuntur optio deleniti perferendis quae molestias quis minima iste dignissimos consequatur nostrum nam
        blanditiis natus quam voluptatum asperiores magni provident doloribus. Illum iusto nostrum nesciunt consequatur
        deleniti. Voluptatum, officiis in quam fugit esse laboriosam blanditiis. Nihil quam veniam illo. Beatae quasi
        accusamus odio vero error eveniet incidunt aspernatur similique qui ea ipsum voluptate illo itaque possimus
        pariatur placeat facilis, voluptatibus, recusandae perferendis sit culpa. Error illum corporis illo? Sapiente
        nesciunt necessitatibus, repellendus numquam est aspernatur minima debitis accusantium aut deleniti iste esse
        nihil dignissimos magni perspiciatis. Harum debitis qui non recusandae autem sit quod sint, quia officia
        consequatur eligendi, voluptatem blanditiis? Reiciendis illum consequatur aspernatur corporis? Repudiandae ut ea
        perspiciatis libero dolor distinctio similique ad recusandae quibusdam, earum iste enim, quis voluptates
        suscipit ducimus necessitatibus architecto tenetur eius incidunt blanditiis. Earum sint, architecto ipsam
        perferendis velit impedit adipisci, veniam suscipit, nihil dolore quas. Quasi sed alias nihil voluptates illum
        in praesentium facere qui. Deleniti quas quae incidunt, cupiditate ad sapiente. Itaque repellendus, quis
        consequatur reiciendis praesentium, quia voluptate dolores nihil, vitae ullam voluptatem mollitia? Perspiciatis
        non unde neque consectetur, magni dolor, nobis eum fugit dolores iusto, nesciunt corporis aut ea! Accusamus
        incidunt soluta nulla, ut mollitia consequuntur adipisci quos dicta earum veniam, nemo sint necessitatibus sit
        et? Ut repudiandae officia laboriosam debitis iste sequi reiciendis vel voluptatum enim aut quisquam, laudantium
        et consequatur aliquam architecto deserunt maxime aperiam! Expedita excepturi temporibus inventore consequuntur
        ex ipsa nesciunt sunt est illo consectetur tempore porro, consequatur reprehenderit laborum laboriosam aliquam.
        Fugiat cum mollitia nemo quas nihil molestiae beatae nostrum voluptatibus reprehenderit, voluptatem dignissimos
        nisi? Veniam dolorem impedit inventore, aliquid quia provident asperiores natus sed saepe eos earum recusandae
        cupiditate similique, optio eum consequuntur aliquam et numquam possimus. Mollitia, officia!</p>
    </div>
</body>

</html>