<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body>
    
        <div class="navbar">
            <div class="brand">SRBC</div>
            <ul class="navbar-items">
                <li class="navbar-links"><a href="/">Home</a></li>
                <li class="navbar-links"><a href="/service">Service</a></li>
                <li class="navbar-links"><a href="/team">Team</a></li>
                <li class="navbar-links"><a href="/blog">Blog</a></li>
                <li class="navbar-links"><a href="/contact">ContactUs</a></li>
            </ul>
            <span class='buynow'>
                <a href="#" id="log">Log in</a>
                <a href="#" id="buy">BUY NOW</a>
            </span>

        </div>
        {% comment %} --------------------End Navbar div--------------------------- {% endcomment %}
</body>
</html>