{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="\static\css\style.css">
</head>

<body>
    <div class="container">
        {% comment %} <div class="navbar">
            <div class="brand">SRBC</div>
            <ul class="navbar-items">
                <li class="navbar-links"><a href="/">Home</a></li>
                <li class="navbar-links"><a href="/service">Service</a></li>
                <li class="navbar-links"><a href="#">Team</a></li>
                <li class="navbar-links"><a href="#">Blog</a></li>
                <li class="navbar-links"><a href="/contact">ContactUs</a></li>
            </ul>
            <span class='buynow'>
                <a href="#" id="log">Log in</a>
                <a href="#" id="buy">BUY NOW</a>
            </span>

        </div> {% endcomment %}
        {% comment %} --------------------End Navbar div--------------------------- {% endcomment %}
        <div class="header">
            <div class="col1">
                <div class="main">
                    <div class="row-heading">
                        <div class="heading">
                            <span class="grow">Grow Your Business</span><br/>
                            <span class="grow">with</span> <span>Social Media</span><br/>
                            <span>Marketing</span>
                        </div>
                    </div>

                        <div class="para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam delectus iure expedita
                            inventore
                            rem!
                        </div>
                        
                        <div class="input-btn-row">
                            <input type="email" name="" id="email-input" placeholder="Email Adress">
                            <input type="text" name="" id="learn-more" value="Learn More">
                        </div>
                    </div>
                </div>

                <div class="col2">
                    <img src="static\img\head img.png" alt="" width="650px" height="auto">
                </div>
            </div>

        </div>
        <!-- ----------------------------------------end of header---------------------------------- -->

    </div>
</body>

</html>