{% include "templates\header.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="\static\css\service.css">
</head>

<body>
    <div class="container">
        <div class="title">This Products For sell</div>
        <div class="row1">
            <div class="cart">
                <div class="img">
                    <img src="\static\img\mobile1.png" alt="">
                </div>
                <h1 class="cart-items">Itel M20</h1>
                <p class="cart-items">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <p class="cart-items">Price = rs400</p>
                <div class="buttons">
                    <button class="cart-items" type="button">BUY NOW</button>
                </div>
            </div>


            <div class="cart">
                <div class="img">
                    <img src="\static\img\mobile1.png" alt="">
                </div>
                <h1 class="cart-items">Itel M21</h1>
                <p class="cart-items">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <p class="cart-items">Price = rs400</p>
                <div class="buttons">
                    <button class="cart-items" type="button">BUY NOW</button>
                </div>
            </div>


            <div class="cart">
                <div class="img">
                    <img src="\static\img\mobile1.png" alt="">
                </div>
                <h1 class="cart-items">Itel M22</h1>
                <p class="cart-items">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <p class="cart-items">Price = rs400</p>
                <div class="buttons">
                    <button class="cart-items" type="button">BUY NOW</button>
                </div>
            </div>


            <div class="cart">
                <div class="img">
                    <img src="\static\img\mobile1.png" alt="">
                </div>
                <h1 class="cart-items">Itel M23</h1>
                <p class="cart-items">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <p class="cart-items">Price = rs400</p>
                <div class="buttons">
                    <button class="cart-items" type="button">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>